@model List<UserListModel>
<html>


<head>

</head>


<body>
<table class=" mt-4 table table-hover table-bordered table-sm" >
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td></td>
        <td></td>
        <td>AccountController Count</td>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var applicationUser in @Model)
    {
        <tr>
            <td>@applicationUser.Name</td>
            <td>@applicationUser.SurName</td>
            <td><button class="btn btn-danger"> Delete</button></td>
            <td><button class="btn btn-danger">Edit</button></td>
            <td>
                <getAccountCount application-user-id="@applicationUser.Id"></getAccountCount>
            </td>
            <td >
                <a asp-action="Create" asp-controller="Account" asp-route-id="@applicationUser.Id">Create New Account</a>
                <a asp-action="GetByUserId" asp-controller="Account" asp-route-userId="@applicationUser.Id">Get Accounts</a>
                </td>
        </tr>
    }
   
    </tbody>
</table>




</body>



</html>